@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/JosefinSans-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Regular.woff2") format("woff2"), url("../fonts/JosefinSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-instagram:before {
  content: "\e900";
}

._icon-Path-1:before {
  content: "\e901";
}

._icon-Path:before {
  content: "\e902";
}

._icon-Subtract-1:before {
  content: "\e903";
}

._icon-down-arrow-svgrepo-com:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "JosefinSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "JosefinSans";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #333333;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

._section-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.main__title {
  color: white;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0%;
}

._purple-btn {
  background-color: #5E4DCD;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._pink-btn {
  background-color: #FFD2DD;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #5E4DCD;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  position: relative;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 403px;
          flex: 0 1 403px;
  margin-right: 40px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 6%;
  position: relative;
  z-index: 11;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 432px;
          flex: 0 0 432px;
}

.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

.header__btn {
  padding: 16px 40px;
  position: relative;
  z-index: 11;
}

.menu__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: white;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0%;
}

.menu__btn {
  font-size: 12px;
  margin-left: 3px;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub-list {
  padding: 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
}

.menu__sub-link {
  color: white;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  padding: 60px 0;
  background-color: #ECECEC;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px 1fr 124px;
  grid-template-columns: 370px 1fr 124px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 192px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
}

.footer__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 6%;
  color: inherit;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer__scroll {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  height: 50px;
  max-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 400px;
  background-color: #FFD2DD;
}

.copyright {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.2px;
}

.subscribe {
  width: 100%;
}

.subscribe__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
}

.subscribe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.subscribe__item .form__error {
  position: absolute;
  top: 100%;
  left: 12px;
  margin-top: 3px;
  color: red;
  font-size: 15px;
  font-weight: 600;
}

.subscribe__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  width: 100%;
  padding: 12px 10px 12px 0;
  background-color: transparent;
}

.subscribe__button {
  border-radius: 8px 8px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: white;
  height: 50px;
  background-color: #5E4DCD;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.menu-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  text-align: start;
}

.menu-footer__column:not(:last-child) {
  padding: 0px 10px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.menu-footer__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0px;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-footer__link {
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.signs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signs__item {
  color: #333333;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._no-webp .frontPage{
  background-image: url("../img/frontPage/frontPage-bg.jpeg"); }

.frontPage {
  padding: 321px 0 95px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.frontPage__content {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 770px;
          flex: 0 0 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

._no-webp .frontPage__content::before{
  background-image: url("../img/frontPage/Round.png"); }

.frontPage__content::before {
  content: "";
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 558px;
  width: 100%;
  height: 558px;
  top: -141px;
  left: -148px;
}

.frontPage__text {
  z-index: 5;
  position: relative;
  color: white;
  font-size: 24px;
  line-height: 1.3333333333;
  letter-spacing: 0%;
  max-width: 470px;
  width: 100%;
}

.frontPage__btn {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0;
  max-width: 270px;
  width: 100%;
}

.frontPage-title {
  z-index: 5;
  position: relative;
}

.cardsPage {
  padding: 160px 0;
  position: relative;
}

.cardsPage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cardsPage__header {
  gap: 24px;
  text-align: center;
  max-width: 770px;
  width: 100%;
  margin-bottom: 60px;
}

.cardsPage__btn {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(51, 110, 225);
  font-weight: 700;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  padding: 24px 40px 22px 40px;
  border: 1px solid rgb(51, 110, 225);
}

.cardsPage__subtitle {
  color: #999999;
  font-size: 24px;
  line-height: 1.3333333333;
  letter-spacing: 0%;
  text-align: center;
}

.cardsPage__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  color: inherit;
  -webkit-box-shadow: 0px 24px 60px 0px rgba(51, 51, 51, 0.16);
          box-shadow: 0px 24px 60px 0px rgba(51, 51, 51, 0.16);
}

.card._card-active .card-front {
  display: none;
}

.card._card-active .card-back {
  display: block;
}

.card._card-active .card-back__btn {
  pointer-events: auto;
}

.card-back {
  -webkit-box-shadow: 0px 80px 120px 0px rgba(51, 51, 51, 0.4);
          box-shadow: 0px 80px 120px 0px rgba(51, 51, 51, 0.4);
  display: none;
}

.card-back__btn {
  pointer-events: none;
  background: rgb(51, 110, 225);
  padding: 24px 40px 22px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.card__content-back {
  border-bottom: 1px solid #ECECEC;
}

.card__details {
  padding: 24px;
}

.card .details-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .details-card__item:not(:last-child) {
  margin-bottom: 8px;
}

.card .details-card__name {
  line-height: 1.5;
}

.card .details-card__info {
  font-weight: 700;
  line-height: 1.5;
}

.card__content {
  padding: 24px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.card__content-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0%;
}

.card__content-subtitle {
  color: #999999;
  line-height: 1.5;
  letter-spacing: 0%;
}

.card__content-text {
  line-height: 1.5;
  letter-spacing: 0%;
}

.card__price {
  font-size: 14px;
  line-height: 1.7142857143;
}

.card__price span {
  color: #5E4DCD;
  font-weight: 700;
}

.card-header {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 8px;
  position: relative;
  z-index: 5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
}

.card-header__text {
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  padding: 8px 12px 6px 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

.card-line {
  height: 8px;
  background-color: #ececec;
  margin-bottom: 8px;
  position: relative;
}

.card-line::before {
  content: "";
  position: absolute;
  width: 182px;
  height: 8px;
  background-color: #5E4DCD;
  top: 0;
  left: 0;
}

._no-webp .card-header1{
  background-image: url("../img/cardsPage/cards__content/1.jpeg"); }

._no-webp .card-header2{
  background-image: url("../img/cardsPage/cards__content/2.jpeg"); }

._no-webp .card-header3{
  background-image: url("../img/cardsPage/cards__content/2.jpeg"); }

._no-webp .card-header4{
  background-image: url("../img/cardsPage/cards__content/3.jpeg"); }

._no-webp .card-header5{
  background-image: url("../img/cardsPage/cards__content/4.jpeg"); }

._no-webp .card-header6{
  background-image: url("../img/cardsPage/cards__content/5.jpeg"); }

._no-webp .investorsPage{
  background-image: url("../img/investors/investors-bg.jpeg"); }

.investorsPage {
  padding: 160px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.investorsPage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.investorsPage__content {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.investorsPage__title::before {
  margin-bottom: 40px;
  color: #5E4DCD;
}

.investorsPage__info {
  color: white;
  font-size: 24px;
  line-height: 1.3333333333;
}

.applyPage {
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
}

._no-webp .applyPage::before{
  background-image: url("../img/apply/bg_flower.png"); }

.applyPage::before {
  content: "";
  position: absolute;
  top: 145px;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 306px;
  width: 100%;
  height: 301px;
}

.applyPage__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 130px;
}

.applyPage__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0 22px;
  max-width: 270px;
  width: 100%;
}

.applyPage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

.applyPage__title {
  margin-bottom: 24px;
}

.applyPage__info {
  color: #999999;
  font-size: 24px;
  line-height: 1.3333333333;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__item._active .menu__sub-list {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .menu__item._active .menu__btn {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__item._active .menu__btn,
  .menu__item._active .menu__link {
    color: #5E4DCD;
  }

  .menu__sub-list {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(10px, 0px);
        -ms-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 170px;
    z-index: 12;
    background-color: #FFD2DD;
    padding: 20px 15px 20px 15px;
  }

  .menu__sub-list li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    margin-right: calc(15px + 25 * ((100vw - 320px) / 880));
  }

  .header__sign {
    gap: calc(5px + 11 * ((100vw - 320px) / 880));
  }

  .header__sign {
    margin-left: calc(10px + 14 * ((100vw - 320px) / 880));
  }

  .menu__btn {
    margin-left: calc(1px + 2 * ((100vw - 320px) / 880));
  }

  .footer__content {
    gap: calc(15px + 15 * ((100vw - 320px) / 880));
  }

  .footer__subscribe {
    gap: calc(10px + 6 * ((100vw - 320px) / 880));
  }

  .frontPage__content {
    gap: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .cardsPage__btn {
    margin-top: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .cardsPage__content {
    gap: calc(15px + 15 * ((100vw - 320px) / 880));
  }

  .investorsPage__content {
    gap: calc(15px + 9 * ((100vw - 320px) / 880));
  }

  .investorsPage__title::before {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .applyPage {
    padding-top: calc(50px + 130 * ((100vw - 320px) / 880));
  }

  .applyPage {
    padding-bottom: calc(50px + 130 * ((100vw - 320px) / 880));
  }

  .applyPage__body {
    gap: calc(50px + 80 * ((100vw - 320px) / 880));
  }

  .applyPage__content {
    gap: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .applyPage__title {
    margin-bottom: calc(15px + 9 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__body {
    min-height: 80px;
  }

  .header__sign {
    margin-left: 0px;
  }

  .header__btn {
    padding: 10px 15px;
  }

  .menu__list {
    gap: 0px;
  }

  .footer__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer__main {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
  }

  .footer__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .subscribe__item {
    max-width: 370px;
    width: 100%;
  }

  .menu-footer {
    padding: 0 20px;
  }

  .menu-footer__title {
    font-size: 22px;
  }

  .menu-footer__link {
    font-size: 18px;
  }

  .signs {
    gap: 30px;
  }

  .signs__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 15px;
  }

  .signs__item {
    font-size: 24px;
  }

  .frontPage__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .frontPage__text {
    font-size: 20px;
  }

  .frontPage__btn {
    max-width: 200px;
    padding: 12px 0;
  }

  .frontPage-title {
    font-size: 48px;
  }

  .cardsPage__content {
    -ms-grid-columns: (350px)[2];
    grid-template-columns: repeat(2, 350px);
  }

  .investorsPage {
    padding: 120px 0;
  }

  .investorsPage__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .investorsPage__info {
    font-size: 22px;
  }

  .applyPage__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .applyPage__content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .applyPage__info {
    font-size: 22px;
  }
}

@media (max-width: 991.98px) and (max-width: 1200px) {
  .signs__list {
    gap: calc(10px + 5 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 767.98px) {
  ._section-title {
    font-size: 36px;
  }

  .header__body {
    min-height: 70px;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 432px;
            flex: 0 1 432px;
  }

  .menu__body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #FFD2DD;
    z-index: 5;
    padding: 90px 15px 30px 15px;
    z-index: 10;
  }

  .menu__body::before {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    background-color: #999999;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__item._active a {
    color: #5E4DCD;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__btn._active {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #5E4DCD;
  }

  .menu__sub-link {
    font-size: 24px;
  }

  .icon-menu {
    margin-left: 32px;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 11;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff7f7;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .footer__subscribe {
    margin-bottom: 20px;
  }

  .subscribe__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .menu-footer__column:not(:last-child) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }

  .frontPage__content::before {
    max-width: 350px;
    height: 350px;
  }

  .frontPage-title {
    font-size: 36px;
  }

  .cardsPage__content {
    -ms-grid-columns: (340px)[1];
    grid-template-columns: repeat(1, 340px);
  }

  .investorsPage__chart {
    max-width: 450px;
  }

  .applyPage__chart {
    max-width: 440px;
  }
}

@media (max-width: 767.98px) and (max-width: 1200px) {
  .icon-menu {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 479.98px) {
  .header__sign {
    margin-right: -2px;
  }

  .investorsPage__chart {
    max-width: 350px;
  }

  .applyPage__chart {
    max-width: 350px;
  }
}

@media (max-width: 479.98px) and (max-width: 1200px) {
  .header__sign {
    margin-right: calc(-5px + 3 * ((100vw - 320px) / 880));
  }
}

@media (min-width: 767.98px) and (max-width: 767.98px) {
  .menu__sub-list li:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (any-hover: hover) {
  ._purple-btn:hover {
    background-color: #a198dd;
    color: #71d1d8;
  }

  ._pink-btn:hover {
    background-color: #ff9bb4;
    color: white;
  }

  .menu__item:hover .menu__sub-list {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .menu__item:hover .menu__btn {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__item:hover .menu__btn,
  .menu__item:hover .menu__link {
    color: #5E4DCD;
  }

  .menu__sub-link:hover {
    text-decoration: underline;
  }

  .footer__scroll:hover {
    color: white;
    background-color: #5E4DCD;
  }

  .subscribe__button:hover {
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
    background-color: #FFD2DD;
    color: mediumaquamarine;
  }

  .menu-footer__link:hover {
    color: #5E4DCD;
  }

  .signs__item:hover {
    color: #5E4DCD;
  }

  .cardsPage__btn:hover {
    color: rgb(43, 215, 45);
    background-color: #5E4DCD;
  }

  .card:hover {
    cursor: pointer;
  }

  .card:hover .card-front {
    display: none;
  }

  .card:hover .card-back {
    display: block;
  }

  .card:hover .card-back__btn {
    pointer-events: auto;
  }

  .card-back__btn:hover {
    background: rgb(15, 88, 233);
    color: #898989;
  }
}

._webp .frontPage{ background-image: url(../img/frontPage/frontPage-bg.webp); }

._webp .frontPage__content::before{ background-image: url(../img/frontPage/Round.webp); }

._webp .card-header1{ background-image: url(../img/cardsPage/cards__content/1.webp); }

._webp .card-header2{ background-image: url(../img/cardsPage/cards__content/2.webp); }

._webp .card-header3{ background-image: url(../img/cardsPage/cards__content/2.webp); }

._webp .card-header4{ background-image: url(../img/cardsPage/cards__content/3.webp); }

._webp .card-header5{ background-image: url(../img/cardsPage/cards__content/4.webp); }

._webp .card-header6{ background-image: url(../img/cardsPage/cards__content/5.webp); }

._webp .investorsPage{ background-image: url(../img/investors/investors-bg.webp); }

._webp .applyPage::before{ background-image: url(../img/apply/bg_flower.webp); }